.hero {
  color: #0d202f;
  width: 100%;

  min-height: 900px;
  position: relative;
  overflow: hidden;
  background-color: #000;
  background-size: cover;
  background-position: center;
  height: auto;
}

.commands-table {
  padding: 1rem 2rem;
}

.commands-header {
  background-color: #425465;
}

.commands-row {
  color: black;
  background-color: white;
}
.commands-row:nth-child(odd) {
  background-color: #f5f7fa;
}

.w-100 {
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: 550;
}

.usage {
  color: #3c6ebc;
  cursor: pointer;
}

.my-modal {
  text-align: center;
  max-width: max-content;
}

.img-fluid {
  object-fit: cover;
  max-width: inherit;
  max-height: calc(100vh - 225px);
}

@media screen and (max-width: 767px) {
  .w-100 {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 550;
  }

  .img-fluid {
    object-fit: cover;
    width: 87vw;
    max-height: 700px;
    margin-right: 1rem;
  }
}
