.hero {
  color: #0d202f;
  width: 100%;
  min-height: 900px;
  position: relative;
  overflow: hidden;
  background-color: #000;
  background-size: cover;
  background-position: center;
  height: auto;
}
